<div class="blur-box" style="min-height: 550px;">
    <div class="selected-players">
        
        <div *ngIf="selectedGameType && gameTypeSelected">

            <div>{{selectedGameType.type}} </div>


            <app-lottie-player height="132px" [src]="selectedGameType.lottieUrl" [autoPlay]="true"
                [loop]="true"></app-lottie-player>
        </div>
        
        <div *ngIf="!gameTypeSelected">
            <div class="top-text" [class.current-text]="!gameTypeSelected">Game Type</div>

            <img class="game-avatar" [class.current]="!gameTypeSelected"
                src="../../assets/images/game-type-icon.jpg">
        </div>
        
        <div style="position: relative;">
            <div class="top-text" *ngIf="!config.player1" [class.current-text]="!config.player1 && gameTypeSelected && !isExternalGame"
                [class.is-red]="!config.player1">Player 1</div>
            <div class="top-text" *ngIf="config.player1" [class.current-text]="!config.player1 && gameTypeSelected && !isExternalGame">
                {{config.player1.avatar.name}}</div>
            <img class="game-avatar" [class.current]="!config.player1 && gameTypeSelected && !isExternalGame" *ngIf="!config.player1"
                src="../../assets/images/unknown-player.jpg">
            <img class="game-avatar" *ngIf="config.player1 && gameTypeSelected && !isExternalGame"
                src="../../assets/images/avatars/{{config.player1.avatar.baseUrl}}.jpg">
        </div>
        <div style="position: relative;">
            <div class="top-text" *ngIf="!config.player2" [class.current-text]="!config.player2 && config.player1 && !isExternalGame"
                [class.is-blue]="!config.player2 && config.player1">
                Player 2</div>
            <div class="top-text" *ngIf="config.player2" [class.current-text]="!config.player2 && config.player1 && !isExternalGame"
                style="font-size: 16px;">{{config.player2.avatar.name}}</div>
            <img class="game-avatar" [class.current]="!config.player2 && config.player1 && !isExternalGame" *ngIf="!config.player2"
                src="../../assets/images/unknown-player.jpg">
            <img class="game-avatar" *ngIf="config.player2"
                src="../../assets/images/avatars/{{config.player2.avatar.baseUrl}}.jpg">

        </div>
    </div>
    <div>
        <svg 
            [class.select-game]="!gameTypeSelected" id="player-indicator" *ngIf="(!gameTypeSelected || !config.player1 || !config.player2) && !isExternalGame"
            [class.player-1]="gameTypeSelected && !config.player1 && !config.player2"
            [class.player-2]="gameTypeSelected && config.player1 && !config.player2" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 182 101">
            <defs>
                <style>
                    .cls-1,
                    .cls-2 {
                        stroke-width: 0px;
                    }

                    .cls-2 {
                        fill: #e01249;
                    }

                    .cls-3 {
                        filter: url(#AI_BevelShadow_1);
                    }
                </style>
                <filter id="AI_BevelShadow_1" x="-20%" y="-20%" width="140%" height="140%">
                    <feGaussianBlur in="SourceAlpha" result="blur" stdDeviation="8" />
                    <feFlood flood-color="#e5ed05" result="color" />
                    <feComposite in="color" in2="blur" operator="in" result="blur"></feComposite>
                    <feOffset dx="4" dy="4" in="blur" result="offsetBlur" />
                    <feSpecularLighting in="blur" result="specOut" specularConstant="1" specularExponent="10"
                        surfaceScale="35">
                        <fePointLight x="-5000" y="-10000" z="-20000" />
                    </feSpecularLighting>

                    <feComposite in="specOut" in2="SourceAlpha" operator="in" result="specOut" />
                    <feComposite in="SourceGraphic" in2="specOut" k1="0" k2="1" k3="1" k4="0" operator="arithmetic"
                        result="litPaint" />
                    <feMerge>
                        <feMergeNode in="offsetBlur" />
                        <feMergeNode in="litPaint" />
                    </feMerge>
                </filter>
            </defs>
            <g class="cls-3">
                <path class="cls-2"
                    d="M85.63,16.54l-57.48,57.18c-4.68,4.65-1.38,12.64,5.21,12.64h114.97c6.6,0,9.89-7.98,5.21-12.64l-57.48-57.18c-2.88-2.87-7.54-2.87-10.43,0Z" />
            </g>
        </svg>
    </div>
    <div class="avatar-selector" *ngIf="(!config.player1 || !config.player2) && gameTypeSelected && !isExternalGame">
        <div [style.transform]="scrollOffset">
            <ul>
                <li *ngFor="let playerType of playerTypes" [class.greyscale]="isPlayerSelected(playerType)"
                    [class.selected]="selectedItem === playerType">
                    <img src="../../assets/images/avatars/{{playerType.baseUrl}}.jpg">
                </li>
            </ul>
        </div>
    </div>
    <div style="padding: 0;margin-top: -40px;font-size: 24px;"
        *ngIf="!config.player1 && !config.player2 && selectedItem" class="fade-in-up center">
        {{selectedItem.name}}
    </div>
    <div style="padding: 0;margin-top: -40px;font-size: 24px;" *ngIf="config.player1 && !config.player2 && selectedItem"
        class="fade-in-up center">
        {{selectedItem.name}}
    </div>
    <div class="avatar-selector" *ngIf="!config.player1 && !config.player2 && !gameTypeSelected"
        style="text-align: center;">
        <div>
            <ul>
                <li *ngFor="let gameType of gameTypes" [class.selected]="config.gameType ===  gameType.type ">
                    <div class="lottie-container">
                        <app-lottie-player height="65px" [src]="gameType.lottieUrl" [autoPlay]="true"
                            [loop]="true"></app-lottie-player>
                    </div>
                </li>
            </ul>
        </div>
        <div class="fade-in-up center" style="padding: 0;margin-top: -40px;font-size: 24px;" *ngIf="selectedGameType">
            {{selectedGameType.description}}
        </div>
    </div>

    <div *ngIf="(config.player1 && config.player2 && gameTypeSelected) || (gameTypeSelected && isExternalGame)" style="text-align: center;">

        <div class="lottie-container">
            <app-lottie-player height="175px"
                src="https://lottie.host/1947fa7c-b49e-48bc-b5ad-cb095b63d13b/F3HgMZ4QoZ.json" [autoPlay]="true"
                [loop]="true"></app-lottie-player>
        </div>
        Press 'A' To Continue
    </div>
</div>