<div class="blur-box" style="min-height: 550px;">
    <div class="selected-players">
        <div>
            <div class="top-text" *ngIf="!config.player1" [class.current-text]="!config.player1">Player 1</div>
            <div class="top-text" *ngIf="config.player1" [class.current-text]="!config.player1">
                {{config.player1.avatar.name}}</div>
            <img class="game-avatar" [class.current]="!config.player1" *ngIf="!config.player1"
                src="../../assets/images/unknown-player.jpg">
            <img class="game-avatar" *ngIf="config.player1"
                src="../../assets/images/{{config.player1.avatar.baseUrl}}.jpg">
        </div>
        <div>
            <div class="top-text" *ngIf="!config.player2" [class.current-text]="!config.player2 && config.player1">
                Player 2</div>
            <div class="top-text" *ngIf="config.player2" [class.current-text]="!config.player2 && config.player1"
                style="font-size: 16px;">{{config.player2.avatar.name}}</div>
            <img class="game-avatar" [class.current]="!config.player2 && config.player1" *ngIf="!config.player2"
                src="../../assets/images/unknown-player.jpg">
            <img class="game-avatar" *ngIf="config.player2"
                src="../../assets/images/{{config.player2.avatar.baseUrl}}.jpg">

        </div>
        <div *ngIf="selectedGameType && gameTypeSelected">

            <div>{{selectedGameType.type}} </div>

            <lottie-player style="height: 132px;" [src]="selectedGameType.lottieUrl" background="transparent" speed="1"
                loop autoplay>
            </lottie-player>

        </div>
        <div *ngIf="!gameTypeSelected">
            <div class="top-text" [class.current-text]="config.player2 && config.player1">Game Type</div>

            <img class="game-avatar" [class.current]="config.player2 && config.player1"
                src="../../assets/images/game-type-icon.jpg">

        </div>
    </div>
    <div class="avatar-selector" *ngIf="!config.player1 || !config.player2">
        <div [style.transform]="scrollOffset">
            <ul>
                <li *ngFor="let playerType of playerTypes" [class.greyscale]="isPlayerSelected(playerType)" [class.selected]="selectedItem === playerType">

                    <img src="../../assets/images/{{playerType.baseUrl}}.jpg">
                    <!-- <span class="rank">{{playerType.points }}</span> -->
                </li>
            </ul>
        </div>
    </div>
    <div style="padding: 0;margin-top: -40px;font-size: 24px;"
        *ngIf="!config.player1 && !config.player2 && selectedItem" class="fade-in-up center">
        {{selectedItem.name}}
    </div>
    <div style="padding: 0;margin-top: -40px;font-size: 24px;" *ngIf="config.player1 && !config.player2 && selectedItem"
        class="fade-in-up center">
        {{selectedItem.name}}
    </div>
    <div class="avatar-selector" *ngIf="config.player1 && config.player2 && !gameTypeSelected"
        style="text-align: center;">
        <div>
            <ul>
                <li *ngFor="let gameType of gameTypes" [class.selected]="config.gameType ===  gameType.type ">
                    <lottie-player style="height: 65px;" [src]="gameType.lottieUrl" background="transparent" speed="1"
                        loop autoplay>
                    </lottie-player>
                </li>
            </ul>
        </div>
        <div class="fade-in-up center" style="padding: 0;margin-top: -40px;font-size: 24px;" *ngIf="selectedGameType">
            {{selectedGameType.description}}
        </div>
    </div>

    <div *ngIf="config.player1 && config.player2 && gameTypeSelected" style="text-align: center;">
        <lottie-player style="height: 175px;"
            src="https://lottie.host/1947fa7c-b49e-48bc-b5ad-cb095b63d13b/F3HgMZ4QoZ.json" background="transparent"
            speed="1" loop autoplay>
        </lottie-player><br>
        Press Start To Continue
    </div>
</div>