<div class="white-box" style="min-height: 500px;">

    <div class="selected-players">
        <div>

            <img class="game-avatar" [class.current]="!config.player1" *ngIf="!config.player1"
                src="../../assets/images/question-mark.jpg">
            <img class="game-avatar" *ngIf="config.player1" src="../../assets/images/{{config.player1.avatar}}.jpg">
            <br>
            Player 1
        </div>
        <div>
            <img class="game-avatar" [class.current]="!config.player2 && config.player1" *ngIf="!config.player2"
                src="../../assets/images/question-mark.jpg">
            <img class="game-avatar" *ngIf="config.player2" src="../../assets/images/{{config.player2.avatar}}.jpg">
            <br>
            Player 2
        </div>
        <div *ngIf="selectedGameType && gameTypeSelected">
            <lottie-player style="height: 132px;" [src]="selectedGameType.lottieUrl" background="transparent" speed="1"
                loop autoplay>
            </lottie-player>
            <br>
            {{selectedGameType.type}}
        </div>
        <div *ngIf="!gameTypeSelected">
            <img class="game-avatar" [class.current]="config.player2 && config.player1" 
            src="../../assets/images/question-mark.jpg"><br>
            Game Type
        </div>
    </div>
    <div class="avatar-selector" *ngIf="!config.player1 || !config.player2">
        <div [style.transform]="scrollOffset">
            <ul>
                <li *ngFor="let playerType of playerTypes" [class.selected]="selectedItem === playerType">

                    <img src="../../assets/images/{{playerType}}.jpg">
                </li>
            </ul>
        </div>
    </div>
    <div class="avatar-selector" *ngIf="config.player1 && config.player2 && !gameTypeSelected"
        style="text-align: center;">
        <div>
            <ul>
                <li *ngFor="let gameType of gameTypes" [class.selected]="config.gameType ===  gameType.type ">

                    <div class="description">
                        {{gameType.type}}</div><br>
                    <lottie-player style="height: 65px;" [src]="gameType.lottieUrl" background="transparent" speed="1"
                        loop autoplay>
                    </lottie-player>
                </li>
            </ul>
        </div>
        <div class="fade-in-up center" style="padding: 0;margin-top: -40px;" *ngIf="selectedGameType">
            {{selectedGameType.description}}
        </div>
    </div>

    <div *ngIf="config.player1 && config.player2 && gameTypeSelected" style="text-align: center;">
        <lottie-player style="height: 175px;"
            src="https://lottie.host/1947fa7c-b49e-48bc-b5ad-cb095b63d13b/F3HgMZ4QoZ.json" background="transparent"
            speed="1" loop autoplay>
        </lottie-player><br>
        Press Start To Continue
    </div>
</div>