
@keyframes video-enter {
    to {
        transform: scale(2.3);
    }
}
.avatar-selector {
    width: 800px;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 18px;

    >div {
        transition: transform .5s ease;
        padding: 40px;

        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                padding: 30px;
                position: relative;

                img {
                    height: 80px;
                    transition: transform .5s ease;
                    border-radius: 50%;
                }
                video {
                    height: 80px;
                    transition: transform .5s ease ;
                    border-radius: 50%;
                    animation: video-enter .5s ease;
                    animation-fill-mode: forwards;
                    width: 80px;
                }

                .rank {
                    transition: transform .5s ease;
                    right: unset;
                    top: unset;
                    left: calc(50% - 12px);
                    bottom: 20px;
                }

                .lottie-container {
                    transition: transform .5s ease;
                    border-radius: 50%;
                    height: 65px;
                    width: 65px;
                }

                .description {
                    transition: transform .5s ease;
                }

                &.greyscale {
                    img {
                        filter: grayscale(1);
                    }
                }

                &.selected {
                    &:not(.greyscale) {
                        img {
                            transform: scale(2);
                            box-shadow: 0px 0px 24px 0px rgb(255 255 40);
                            z-index: 2;
                        }

                        .lottie-container {
                            transform: scale(2);
                            box-shadow: 0px 0px 24px 0px rgb(255 255 40);
                            z-index: 2;
                            border-radius: 50%;
                        }

                        .rank {
                            transform: translateY(15px) scale(1.5);
                        }
                    }
                    video {
                        box-shadow: 0px 0px 24px 0px rgb(255 255 40);
                        z-index: 2;
                    }

                    .description {
                        transform: scale(2) translateY(-15px);
                    }
                }
            }
        }
    }
}

.selected-players {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;

    >div {
        text-align: center;
        padding: 30px;
        flex: 1;
    }
}

.top-text:not(.current-text) {
    font-size: 16px;
}

@keyframes box-shadow-pulse {
    from {
        box-shadow: 0px 0px 24px 0px rgb(255 255 40);
        transform: scale(.75);
    }

    to {
        box-shadow: 0px 0px 96px 0px rgb(255 255 40);
        transform: scale(1.0);
    }
}

.game-avatar {
    transition: box-shadow 1s ease;

    &:not(.current) {
        transform: scale(.6);
    }

    &.current {
        box-shadow: 0px 0px 24px 0px rgb(255 255 40);
        animation: box-shadow-pulse;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-direction: alternate;
    }
}

.is-red {
    color: #e01249;
}

.is-blue {
    color: #89CFF0;
}

#player-indicator {
    position: absolute;
    transition: all 1s ease;
    height: 80px;
    margin-top: -76px;
    left: 91px;
    &.player-1 {
        left: 358px;

    }
    &.player-2 {
        left: 625px;
        .cls-2 {
            fill: #4287f5;
        } 
    }

    &.select-game {
        .cls-2 {
            fill: #21a31a;
        }
    }
}