.avatar-selector {
    width: 800px;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 18px;

    >div {
        transition: transform .5s ease;
        padding: 40px;

        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline-block;
                padding: 30px;
                position: relative;

                img {
                    height: 80px;
                    transition: transform .5s ease;
                    border-radius: 50%;
                }

                .rank {
                    transition: transform .5s ease;
                    right: unset;
                    top: unset;
                    left: calc(50% - 12px);
                    bottom: 20px;
                }

                lottie-player {
                    transition: transform .5s ease;
                    border-radius: 50%;
                    height: 65px;
                    width: 65px;
                }

                .description {
                    transition: transform .5s ease;
                }

                &.greyscale {
                    img {
                        filter: grayscale(1);
                    }
                }

                &.selected {
                    &:not(.greyscale) {
                        img {
                            transform: scale(2);
                            box-shadow: 0px 0px 24px 0px rgb(255 255 40);
                            z-index: 2;
                        }

                        lottie-player {
                            transform: scale(2);
                            box-shadow: 0px 0px 24px 0px rgb(255 255 40);
                            z-index: 2;
                            border-radius: 50%;
                        }

                        .rank {
                            transform: translateY(15px) scale(1.5);
                        }
                    }

                    .description {
                        transform: scale(2) translateY(-15px);
                    }
                }
            }
        }
    }
}

.selected-players {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;

    >div {
        text-align: center;
        padding: 30px;
        flex: 1;
    }
}

.top-text:not(.current-text) {
    font-size: 16px;
}

@keyframes box-shadow-pulse {
    from {
        box-shadow: 0px 0px 24px 0px rgb(255 255 40);
        transform: scale(.75);
    }

    to {
        box-shadow: 0px 0px 96px 0px rgb(255 255 40);
        transform: scale(1.0);
    }
}

.game-avatar {
    transition: box-shadow 1s ease;

    &:not(.current) {
        transform: scale(.6);
    }

    &.current {
        box-shadow: 0px 0px 24px 0px rgb(255 255 40);
        animation: box-shadow-pulse;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-timing-function: ease;
        animation-direction: alternate;
    }
}

.player-bar {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 50.5px 52px 50.5px;
    transform: rotate(0deg);
    position: absolute;
    bottom: 0;
    left: calc(50% - 50.5px);

}

.player-bar.blue {
    border-color: transparent transparent #89CFF0 transparent;
}

.player-bar.red {
    border-color: transparent transparent #e01249 transparent;
}

.is-red {
    color: #e01249;
}

.is-blue {
    color: #89CFF0;
}

#player-indicator {
    position: absolute;
    transition: all 1s ease;
    height: 80px;
    margin-top: -76px;
    left: 91px;
}

#player-indicator.player-2 {
    left: 358px;

    .cls-1 {
        fill: #89CFF0;
    }
    .cls-2 {
        fill: #4287f5;
    }
}