<!-- 
<mat-form-field appearance="outline">
    <mat-label>Background Song URLs</mat-label>
    <textarea rows="5" matInput [(ngModel)]="settings.songUrls"></textarea>
</mat-form-field> -->
<div style="width: 800px;height: 600px;">
    <h3 style="margin-top: -35px">GameSettings</h3>
    <mat-tab-group>
        <mat-tab label="General">
            <mat-form-field appearance="outline" style="margin-top: 20px; max-width: 250px;">
                <mat-label>Game Duration (seconds)</mat-label>
                <input matInput (ngModelChange)="saveSettings()" [(ngModel)]="settings.gameDuration" type="number">
            </mat-form-field>


            <mat-checkbox (ngModelChange)="savePlayBackgroundMusic($event)"
                [(ngModel)]="settings.playBackgroundMusic">Play
                Background Music</mat-checkbox>



            <div>
                <mat-checkbox (ngModelChange)="saveSettings()" [(ngModel)]="settings.playSoundFX">Play Sound
                    Effects</mat-checkbox>
            </div>

            <div>
                <div>Music Volume</div>
                <mat-slider min="0" max="1" step=".05">
                    <input matSliderThumb (ngModelChange)="saveMusicSettings($event)"
                        [(ngModel)]="settings.musicVolume">
                </mat-slider>


            </div>

            <div>
                <div>Sound FX Volume</div>
                <mat-slider min="0" max="1" step=".05">
                    <input matSliderThumb (ngModelChange)="saveSoundFXSettings($event)"
                        [(ngModel)]="settings.soundFxVolume">
                </mat-slider>


            </div>

            <mat-form-field appearance="outline" style="max-width: 250px;">
                <mat-label>Puck Force</mat-label>
                <input matInput (ngModelChange)="saveSettings()" [(ngModel)]="settings.puckForce" type="number">
            </mat-form-field>
            <mat-form-field appearance="outline" style="max-width: 250px;">
                <mat-label>Puck Reset Force</mat-label>
                <input matInput (ngModelChange)="saveSettings()" [(ngModel)]="settings.puckResetForce" type="number">
            </mat-form-field>
        </mat-tab>
        <mat-tab label="Music">

            <form>
            <div style="display: flex;margin-top: 20px;">
                <div style="flex: auto;">

                    <mat-form-field style="display: block;" appearance="outline">
                        <mat-label>URL</mat-label>
                        <input matInput name="newMusicUrl" (keyup)="swallowKeyUp($event)" [(ngModel)]="newMusicUrl" type="url">

                        <button mat-button style="margin-right: 10px;" matSuffix mat-raised-button color="primary" (click)="addMusicUrl()"
                            [disabled]="!newMusicUrl">
                            Add
                        </button>
                    </mat-form-field>
                </div>
            </div>
        </form>
            <div class="url-container">
                <div *ngFor="let url of settings.gameMusicUrls" style="font-size: 16px;">
                    <div>
                        {{url}}
                    </div>
                    <div>
                        <button mat-button (click)="removeMusicUrl(url)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>

</div>