<video loop muted playsinline autoplay id="bg-video">
    <source src="../../assets/video/hockey-background.mp4" type="video/mp4">
</video>
<div class="game-surface">
    <div *ngIf="game?.config?.player1 && game?.config?.player2">

        <div class="center" [class.hidden]="!game.running">
            Time Remaining
            <h1 [class.flashing]="isFlashing">{{game.secondsRemaining}}</h1>
        </div>
        <div class="flex-container">
            <div class="center player-score">
                {{game.config.player1.avatar.name}}<br>
                <img class="game-avatar" src="../../assets/images/{{game.config.player1.avatar.baseUrl}}.jpg">
                <h1>{{game.player1Score}}</h1>
            </div>
            <div class="center player-score">
                {{game.config.player2.avatar.name}}<br>
                <img class="game-avatar" src="../../assets/images/{{game.config.player2.avatar.baseUrl}}.jpg">
                <h1>{{game.player2Score}}</h1>
            </div>
        </div>
    </div>
</div>

<div class="game-setup" *ngIf="game.gameSetup">
    <app-game-setup [(config)]="game.config" (configChange)="configChange()"></app-game-setup>

</div>

<!-- <div class="game-setup" *ngIf="game.winner">
    <div class="blur-box">
        <app-display-winner [winner]="game.winner"></app-display-winner>
    </div>
</div> -->

<div class="game-setup" style="z-index: 200;" *ngIf="game.settingsVisible">
    <div class="blur-box">
        <div class="flex-container">
            <div></div>
            <div class="no-grow">
                <button mat-button (click)="game.settingsVisible = false">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>
        <app-settings></app-settings>
    </div>
</div>

<div class="game-intro" *ngIf="game.introMode">
    <div>
        <lottie-player src="https://lottie.host/75b9d86d-a206-4e91-b26c-badd7cb0c0fe/nshTIIF5IY.json"
            background="transparent" speed="1" loop autoplay>
        </lottie-player>
    </div>

</div>

<div class="game-setup " *ngIf="game.gameResult">
    <div class="blur-box game-result">
        <app-display-game-result [result]="game.gameResult"></app-display-game-result>
    </div>
</div>

<!-- <div class="game-setup" *ngIf="game.isTie">
    <app-display-tie [game]="game"></app-display-tie>

</div> -->

<div class="game-setup" style="z-index: 10000;" *ngIf="game.playPong">
    <app-pong></app-pong>
</div>

<div style="display: none;">
    <audio src="../../assets/music/score-1.mp3" id="score-1"></audio>
    <audio src="../../assets/music/bg-music.mp3" loop id="bg-music"></audio>
    <audio src="../../assets/music/win.mp3" id="win-soundfx"></audio>
    <audio src="../../assets/music/warning.mp3" id="warning"></audio>
    <audio src="../../assets/music/tie-game.mp3" id="tie-game"></audio>
</div>

<app-count-down *ngIf="game.countdown"></app-count-down>