div.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    div:first-child {
        display: grid;
        align-items: center;
        height: 100%;
        text-align: center;
    }
}

@keyframes h1-fade {
    from {
        transform: scale(30);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: .5;
    }
}

h1 {
    vertical-align: middle;
    animation-name: h1-fade;
    animation-duration: 1s;
    animation-timing-function: ease;
}