<!-- <video autoplay muted="true" playsinline src="../../assets/video/hockey-background.mp4"  loop id="bg-video">
</video> -->
<video loop muted autoplay id="bg-video">
    <source src="../../assets/video/hockey-background.mp4" type="video/mp4">
  </video>
<p>home works!</p>


<button mat-button mat-raised-button color="primary" (click)="startGame()">Start Game</button>

<h1>{{game.secondsRemaining}}</h1>

<div>
    Player 1
    <h1>{{game.player1Score}}</h1>
</div>

<div>
    Player 2
    <h1>{{game.player2Score}}</h1>
</div>